<extend name="Public:app" />
<block name="content">
<!--<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">商家页面当前值/警戒值/目标值列表</a>
        </div>
        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
    </div>
</nav>-->
<main>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Parameters Screening</h3>
            </div>
            <form action="{:U('Competitor/index')}" method="POST"  class="form-horizontal">
                <input type="hidden" name="page" value="" id="page">
                <input type="hidden" name="limit" value="50" id="limit">
                <input type="hidden" name="site" value="{$site}" id="site">
                <div class="panel-body">

                    <div class="form-inline">
                        <span><b>竞争对手：</b></span>
                        <div class="input-group">
                            <input name="compete" type="text" class="form-control" value="{$search.compete}" />
                        </div>&emsp;

                        <!--<span><b>国家:</b></span>
                        <select name="country" class="form-control">
                            <volist name="country" id="vo">
                                <option value="{$vo}" <if condition="$vo eq $search.country "> selected = "selected" </if> > {$vo} </option>
                            </volist>
                        </select>&emsp;

                        <span><b>语言:</b></span>
                        <select name="language" class="form-control">
                            <volist name="language" id="vo">
                                <option value="{$vo}" <if condition="$vo eq $search.language "> selected = "selected" </if> > {$vo} </option>
                            </volist>
                        </select>&emsp;-->
                    </div><br>
                    <div class="form-inline">
                        <span><b>Metrics Sort Order：</b></span>
                        <select name="order" class="form-control">
                            <option value="alexa" <if condition="alexa eq $search.order "> selected = "selected" </if> >Alexa排名</option>
                            <option value="addtime" <if condition="addtime eq $search.order "> selected = "selected" </if> >添加时间</option>
                        </select>&emsp;
                        <span><b>Sort By：</b></span>
                        <select name="sort" class="form-control">
                            <option value="asc" <if condition="asc eq $search.sort "> selected = "selected" </if> >ASC</option>
                            <option value="desc" <if condition="desc eq $search.sort "> selected = "selected" </if> >DESC</option>
                        </select>
                    </div><br>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success col-sm-offset-2 " id="btn">确定</button>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="overflow: hidden">
                <h3 class="panel-title pull-left">
                    竞争对手列表
                </h3>
                <a class="pull-right btn btn-xs btn-success"   href="http://oi.meikaiinfotech.com/view/showview?viewid=597c69c8c5551">竞争对手管理</a>

            </div>
            <!--<div class="panel-body">-->
            <table class="table table-striped table-bordered table-hover" >
                <thead>
                <tr role="row">
                    <th>竞争对手名称</th>
                    <th>竞争对手域名</th>
                    <th>竞争对手网站</th>
                    <th>主要国家</th>
                    <th>主要语言</th>
                    <th>添加时间</th>
                    <th>Alexa排名</th>
                    <th>Operate</th>
                </tr>
                </thead>
                <tbody>
                <volist name="competitorInfo" id="vo" >

                    <tr <if condition="$vo.self eq 'yes' ">class="success"</if>>

                        <td>{$vo.NAME}</td>
                        <td>{$vo.DOMAIN}</td>
                        <td>{$vo.URL}</td>
                        <td>{$vo.NAME_ENGLISH}</td>
                        <td>{$vo.ABBREVIATION}</td>
                        <td>{$vo.ADDTIME}</td>
                        <td style="text-align: right;"><a href="https://www.alexa.com/siteinfo/{$vo.DOMAIN}">{$vo.RANK}</a></td>
                        <td>
                            <a class="btn btn-success col-sm-offset-2" href="{:U('CompetitorDaily/Index', array('DOMAIN_ID'=>$vo['DOMAIN_ID'],'COUNTRY_ID'=>$vo['COUNTRY_ID'] ))}">查看日报</a>
                        </td>
                    </tr>

                </volist>
                </tbody>
            </table>
            <if condition="$pageList.pages gt 1 ">
                <nav aria-label="Page navigation" class="pull-right">
                    <p class="page_total pull-left">共 {$pageList.total} 条数据</p>
                    <ul class="pagination">
                        <li class="prev">
                            <a href="#" aria-label="Previous" >
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <for start="$pageList.startPage" end="$pageList.endPage">
                            <li <eq name="pageList.page" value="$i">class='active page'<else/>class='page'</eq> ><a href="#">{$i}</a></li>
                        </for>

                        <li class="next">
                            <a href="#" aria-label="Next" >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </if>
       <!-- </div>-->
        </div>
    </div>
</main>
</block>
<block name="custome-css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker.min.css">
</block>
<block name="custome-js">
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('.page').click(function(){
            var page = $(this).find('a').text();
            $('#page').val(page);
            $('form').submit();
        })
        $('.prev').click(function(){
            var page = $(this).parent().find('.active a').text();
            page = parseInt(page)-1;
            $('#page').val(page);
            $('form').submit();
        })
        $('.next').click(function(){
            var page = $(this).parent().find('.active a').text();
            page = parseInt(page)+1;
            $('#page').val(page);
            $('form').submit();
        })
        $('.subSite').click(function(){
            let obj = $(this).children('a')
            let siteName = obj.html()
            let siteUUID = $(this).attr('data-uuid')
            $('.globalSiteName').html(siteName)
            $('.globalSiteName').attr('data-uuid', siteUUID)
            setCookie('SITE_NAME', siteName)
            setCookie('SITE_UUID', siteUUID)
            $('#site').val(siteName);
            $('form').submit();

        })
        $('#btn').click(function(){
            var siteName = $('.globalSiteName').text();
            $('#site').val(siteName);
            $('form').submit();
        })
    </script>
</block>