<extend name="Public:app" />
<block name="content">
<!--<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">商家页面当前值/警戒值/目标值列表</a>
        </div>
        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
    </div>
</nav>-->
<main>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Parameters Screening</h3>
            </div>
            <form action="{:U('BrList/get_detail')}" method="POST"  class="form-horizontal">
                <input type="hidden" class="input-sm form-control" name="uuid" value="{$uuid}" />
                <input type="hidden" class="input-sm form-control" name="type" value="{$type}" />
                <div class="panel-body">
                    <div class="form-inline">
                        <span><b>Date：</b></span>
                        <div class="input-daterange input-group datepicker">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <input type="text" class="input-sm form-control datepicker" name="start" value="{$start}"/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control datepicker" name="date" value="{$date}" />
                        </div>&emsp;

                    </div><br>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success col-sm-offset-2">确定</button>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">站点页面BR值列表</h3>
            </div>
            <!--<div class="panel-body">-->
            <table class="table table-striped table-bordered table-hover mytable" >
                <thead>
                <tr role="row">
                    <th>Date</th>
                    <th>Pos</th>
                    <th>BR</th>
                    <th>BR 警戒值</th>
                    <th>BR Change</th>
                    <th>Code# </th>
                    <th>Code# 新增</th>
                    <th>Code# 下线</th>
                    <th>Promo# </th>
                    <th>Promo# 新增</th>
                    <th>Promo# 下线</th>
                    <th>Avg.Updt Freq 30d</th>
                </tr>
                </thead>
                <tbody>

                <volist name="termList" id="vo" >
                    <tr>
                        <td>{$key}</td>
                        <td>{$vo.todayPos}</td>
                        <td>{$vo.todayBR}</td>
                        <td>{$vo.serpBR}</td>
                        <td>{$vo.brChange}</td>
                        <td>{$vo.COUPON_COUNT_ACTIVE}</td>
                        <td>{$vo.COUPON_COUNT_ADD}</td>
                        <td>{$vo.COUPON_COUNT_EXPIRE}</td>
                        <td>{$vo.PROMO_COUNT_ACTIVE}</td>
                        <td>{$vo.PROMO_COUNT_ADD}</td>
                        <td>{$vo.PROMO_COUNT_EXPIRE}</td>

                        <td>{$vo.offset}</td>

                    </tr>
                </volist>
                </tbody>
            </table>
                <ul id="pagintor"></ul>
       <!-- </div>-->

        </div>


    </div>
</main>
</block>
<block name="custome-css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker.min.css">
</block>
<block name="custome-js">
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
                format: 'yyyy-mm-dd',
                defaultDate : new Date(),
                autoclose: true
            });

        });
    </script>
</block>