<extend name="Public:app" />
<block name="content">
<main>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Parameters Screening</h3>
            </div>
            <form action="{:U('CompetitorDaily/index')}" method="POST"  class="form-horizontal">
                <input type="hidden" name="DOMAIN_ID" value="{$DOMAIN_ID}">
                <input type="hidden" name="COUNTRY_ID" value="{$COUNTRY_ID}">
                <input type="hidden" name="page" value="" id="page">
                <input type="hidden" name="limit" value="50" id="limit">
                <div class="panel-body">
                    <div class="form-inline">
                        <span><b>Date：</b></span>
                        <div class="input-daterange input-group datepicker">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <input type="text" class="input-sm form-control datepicker" name="start_date" <empty name="search.start_date" >value="{:date('Y-m-d', strtotime('-1 month'))}"<else/>value="{$search.start_date}"</empty>/>
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control datepicker" name="end_date" <empty name="search.end_date" >value="{:date('Y-m-d', strtotime('-1 days'))}"<else/>value="{$search.end_date}"</empty>/>
                            </div>&emsp;
                        <!--<span><b>竞争对手：</b></span>
                        <div class="input-group">
                            <input name="compete" type="text" class="form-control" value="{$search.compete}" />
                        </div>&emsp;-->
                    </div><br>
                    <div class="form-inline">
                        <span><b>Metrics Sort Order：</b></span>
                        <select name="order" class="form-control">
                            <option value="DATE" <eq name="search.order" value="DATE">selected="selected"</eq>>DATE</option>
                            <option value="GLOBAL_RANK" <eq name="search.order" value="GLOBAL_RANK">selected="selected"</eq>>全球排名</option>
                            <option value="COUNTRY_RANK" <eq name="search.order" value="COUNTRY_RANK">selected="selected"</eq>>主要国家排名</option>
                        </select>&emsp;
                        <span><b>Sort By：</b></span>
                        <select name="sort" class="form-control">
                            <option value="asc" >ASC</option>
                            <option value="desc" selected="selected">DESC</option>
                        </select>
                    </div><br>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success col-sm-offset-2">确定</button>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">竞争对手日报列表</h3>
            </div>
            <div class="panel-body">
            <table class="table table-striped table-bordered table-hover" {*style="word-break:break-all; word-wrap:break-all;*}">
                <thead>
                <tr role="row">
                    <th>日期</th>
                    <th>全球排名</th>
                    <th>主要国家</th>
                    <th>主要国家排名</th>
                    <th>BR</th>
                    <th>PV/V</th>
                    <th>DailyTime</th>
                    <th>Search Traffic</th>
                </tr>
                </thead>
                <tbody>
                <volist name="competitorDailyInfo" id="vo" >
                    <tr>
                        <td>{$vo.DATE}</td>
                        <td>{$vo.GLOBAL_RANK}</td>
                        <td>{$vo.NAME_ENGLISH}</td>
                        <td>{$vo.COUNTRY_RANK}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </volist>
                </tbody>
            </table>
                <if condition="$pages gt 1 ">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="prev">
                                <a href="#" aria-label="Previous" >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <for start="$startPage" end="$endPage">
                                <li <eq name="page" value="$i">class='active page'<else/>class='page'</eq> ><a href="#">{$i}</a></li>
                            </for>

                            <li class="next">
                                <a href="#" aria-label="Next" >
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </if>
        </div>
        </div>
    </div>
</main>
</block>
<block name="custome-css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/css/bootstrap-datepicker.min.css">
</block>
<block name="custome-js">
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.7.0-RC3/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
                format: 'yyyy-mm-dd',
                defaultDate : new Date(),
                autoclose: true
            });
        });
        $('.page').click(function(){
            var page = $(this).find('a').text();
            $('#page').val(page);
            $('form').submit();
        })
        $('.prev').click(function(){
            var page = $(this).parent().find('.active a').text();
            page = parseInt(page)-1;
            $('#page').val(page);
            $('form').submit();
        })
        $('.next').click(function(){
            var page = $(this).parent().find('.active a').text();
            page = parseInt(page)+1;
            $('#page').val(page);
            $('form').submit();
        })
    </script>
</block>