<extend name="Public:app" />
<block name="content">
    <div id="app">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left" style="margin-right: 20px;">站点日报</h3>
                <a href="javascript:;" class="label label-info pull-left" style="margin-right: 5px;" @click="changeDay('pre')"><i class="glyphicon glyphicon-chevron-left"></i> 前一天</a>
                <a href="javascript:;" class="label label-info pull-left" style="margin-right: 5px;" @click="changeDay('next')">后一天 <i class="glyphicon glyphicon-chevron-right"></i></a>
                <div class="clearfix"></div>
            </div>
            <!-- <div class="panel-body query-form">
                <form class="form-inline" method="POST">
                    <div class="form-group">
                        <label for="title">Site</label>
                        <select name="siteName" id="" class="form-control" v-model="siteUUID">
                            <option v-for="site in siteList" :value="site.SITE_UUID">{{ site.SITE_NAME }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">Date</label>
                        <input type="text"  class="form-control datepicker" name="siteDate" v-model="siteDate">
                    </div>
                    <a href="javascript:;" :class="searchButton.class" @click="doSearch()">{{ searchButton.text}}</a>
                </form>
            </div> -->
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default mypanel">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ basicData.panelName }}</h3>
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-info" @click="view(basicData.type)">{{ detailButton }}</a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!basicData.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable">
                                    <tr v-for="(item, index) in basicData.list">
                                        <td>{{ zn(index) }}</td>
                                        <td>{{ item | toThousands }}</td>
                                        <td>{{ dailyPer(item) }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel panel-default mypanel">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ couponContentData.panelName }}</h3>
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-info" @click="view(couponContentData.type)">{{ detailButton }}</a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!couponContentData.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable has_link">
                                   <tr v-for="(item, index) in couponContentData.list">
                                       <td>{{ zn(index) }}</td>
                                       <td>{{ item | toThousands }}</td>
                                       <td>{{ dailyPer(item) }}</td>
                                        <td><a href="javascript:;" class="btn btn-xs btn-success" @click="pageList(index)">列表</a></td>
                                   </tr>
                                </table>
                            </div>
                            <div class="panel panel-default mypanel">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ revenueData.panelName }}</h3>
                                    <!-- <a href="javascript:;" class="pull-right" @click="view(revenueData.type)">{{ detailButton }}</a> -->
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!revenueData.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable">
                                    <tr v-for="(item, index) in revenueData.list">
                                        <td>{{ zn(index) }}</td>
                                        <td v-if="index == 'TOTAL_REVENUE' || index == 'Max_REVENUE'">${{ item | posFilter | toThousands}}</td>
                                        <td v-else-if="index == 'Max_REVENUE_LP'"> <a :href="item" target="_blank">{{ item }}</a></td>
                                        <td v-else>{{ item | toThousands }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel panel-default mypanel">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ affData.panelName }}</h3>
                                    <!-- <a href="#" class="pull-right">{{ detailButton }}</a> -->
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!affData.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable">
                                    <tr v-for="(item, index) in affData.list">
                                        <td>{{ zn(index) }}</td>
                                        <td>{{ item | toThousands}}</td>
                                        <td>{{ dailyPer(item) }}</td>
                                    </tr>
                                    <tr>
                                        <td>有主联盟的页面数(OI暂时无数据)</td>
                                        <td>0</td>
                                        <td>0%</td>
                                    </tr>
                                </table>
                            </div>
                        </div> 
                        <div class="col-md-4">
                            <div class="panel panel-default mypanel" v-for="panelItem in [ggData[0], ggData[1]]">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ panelItem.panelName}}</h3>
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-info" @click="view(panelItem.type)">{{ detailButton }}</a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!panelItem.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable">
                                    <tr v-for="(item, index) in panelItem.list">
                                        <td>{{ zn(index) }}</td>
                                        <td v-if="index == 'AVG_POS'">{{ item | posFilter }}</td>
                                        <td v-else-if="index == 'BOUNSE_RATE'">{{ item | numToPer }}</td>
                                        <td v-else>{{ item |  toThousands}}</td>

                                        <td v-if="index !='BOUNSE_RATE' && index != 'SESSION'">{{ dailyPer(item) }}</td>
                                        <td v-else>-</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default mypanel" v-for="(panelItem, panelIndex) in [ggData[2], ggData[3]]">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ panelItem.panelName}}</h3>
                                    <a href="javascript:;" class="pull-right btn btn-xs btn-info" @click="view(panelItem.type)">{{ detailButton }}</a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!panelItem.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable">
                                    <tr v-for="(item, index) in panelItem.list">
                                        <td>{{ zn(index) }}</td>
                                        <td>{{ item | toThousands }}</td>
                                        <td>{{ dailyPer(item, (panelIndex == 0) ? ggData[1].list.PAGE_COUNT_HAS_SESSION : ggData[1].list.SESSION) }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="panel panel-default mypanel">
                                <div class="panel-heading">
                                    <h3 class="panel-title pull-left">{{ requirementData.panelName }}</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="layer" v-show="!requirementData.status">
                                        <div class="loading">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                        </div>
                                </div>
                                <table class="table table-bordered table-hover mytable">
                                    <thead>
                                        <tr>
                                            <th>页面价值区间</th>
                                            <th>商家总数</th>
                                            <th>达标页面数</th>
                                            <th>达标率</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(inter, index) in requirementData.list">
                                            <td>{{ inter.INTER_NAME }}</td>
                                            <td>{{ inter.Total_Page_Count | toThousands }}</td>
                                            <td>{{ inter.NO_Requirement_Page_Count | toThousands }}</td>
                                            <td>{{ dailyPer(inter.NO_Requirement_Page_Count, inter.Total_Page_Count)}}</td>
                                            <td style="text-align: center;">
                                                <a href="javascript:;" class="btn btn-xs btn-success" @click="pageList('REQUIREMENT_'+ (index + 1))">未达标页面列表</a> &nbsp;
                                                <a href="javascript:;" class="btn btn-xs btn-info" @click="view(requirementData.type+'_' + (index +1))">{{ detailButton }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td v-for="(sumItem, index) in sumList">
                                                <template v-if="index <= 1">
                                                    {{ sumItem | toThousands }}
                                                </template>
                                                <template v-else-if="index == 2">
                                                    {{ sumItem /4 | numToPer}}
                                                </template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="custome-css">
    <link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
</block>
<block name="custome-js">
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        let defaultAjaxConfig = {
            dataType: 'json',
            type: 'POST',
        }
        let app = new Vue({
            el: '#app',
            created: function(){
                let that = this
                this.apiRoot = this.getApiRoot()
                this.getDefaultData()
            },
            mounted: function(){
                let that = this
                /*$('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true
                }).on('changeDate', function(ev){
                    let tmpDate = new Date(ev.date)
                    let toYear = tmpDate.getFullYear().toString()
                    let toMonth = (tmpDate.getMonth() < 10 ? '0' : '') + (tmpDate.getMonth() +1)
                    let toDate = (tmpDate.getDate() < 10 ? '0' : '') + (tmpDate.getDate())
                    that.siteDate = toYear + '-' + toMonth + '-' + toDate
                })*/
                $('#datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: false
                  }).on('changeDate', function(ev){
                    let tmpDate = new Date(ev.date)
                    let toYear = tmpDate.getFullYear().toString()
                    let toMonth = (tmpDate.getMonth() < 10 ? '0' : '') + (tmpDate.getMonth() +1)
                    let toDate = (tmpDate.getDate() < 10 ? '0' : '') + (tmpDate.getDate())
                    let date = toYear + '-' + toMonth + '-' + toDate
                    $('.globalSiteDate').html(date)
                    $('.selectDate').dropdown('toggle')
                    that.siteDate = date
                    setCookie('SITE_DATE', date)
                    that.doSearch()
                  })
                    // 改变站点和时间
                  $('.subSite').click(function(){
                    let obj = $(this).children('a')
                    let siteName = obj.html()
                    let siteUUID = $(this).attr('data-uuid')
                    $('.globalSiteName').html(siteName)
                    $('.globalSiteName').attr('data-uuid', siteUUID)
                    setCookie('SITE_NAME', siteName)
                    setCookie('SITE_UUID', siteUUID)
                    that.siteUUID = siteUUID
                    that.doSearch()
                  })
            },
            data: {
                apiRoot: '',
                siteUUID: '',
                siteDate: '',
                siteList: [],
                metricList: {
                    
                },
                basicData: {
                    list : {
                        PAGE_COUNT: 0,
                        PAGE_COUNT_NEW: 0,
                        PAGE_COUNT_DELETE: 0
                    },
                    panelName: '内容基本状态',
                    type: 'sample_content_p1',
                },
                couponContentData: {
                    list: {
                        PAGE_COUNT_UPD_IN_3D: 0,
                        PAGE_COUNT_UPD_IN_3_7D: 0,
                        PAGE_COUNT_UPD_IN_7_15D: 0,
                        PAGE_COUNT_UPD_IN_15_30D: 0,
                        PAGE_COUNT_UPD_MT_30D: 0,
                        PAGE_COUNT_COUPON_COUNT_IN_3: 0,
                        PAGE_COUNT_COUPON_COUNT_IN_3_5: 0,
                        PAGE_COUNT_COUPON_COUNT_IN_5_10: 0,
                        PAGE_COUNT_COUPON_COUNT_IN_10_20: 0,
                        PAGE_COUNT_COUPON_COUNT_MT_20: 0,
                        PAGE_COUNT_NOCODE: 0,
                        PAGE_COUNT_HADCODE_IN_30D: 0,
                    },
                    panelName: '促销内容状态',
                    type: 'sample_content_p2',
                    status: 0
                },
                revenueData: {
                    list: {
                        TOTAL_REVENUE: 0.00,
                        PAGE_COUNT_HAS_REVENUE: 0,
                        Max_REVENUE: 0.00,
                        Max_REVENUE_LP: ''
                    },
                    panelName: 'SEO收入情况',
                    type: 'sample_revenue',
                    status: 0
                },
                affData: {
                    list: {
                        AFF_COUNT: 0,
                        MAIN_AFF_COUNT: 0
                    },
                    panelName: '联盟状态',
                    type: 'sample_aff',
                    status: 0
                },
                ggData: [
                    {
                        list: {
                            INDEX_PAGE_NUM: 0,
                            AVG_POS: 0.0,
                            IMPRESSION_MT_5_PAGE_NUM: 0,
                            CLICK_MT_5_PAGE_NUM: 0,
                            POS_TOP_3_PAGE_NUM: 0,
                            POS_TOP_5_PAGE_NUM: 0,
                            POS_TOP_10_PAGE_NUM: 0,
                        },
                        panelName: 'Google表现',
                        type: 'sample_gsc',
                        status: 0
                    },
                    {
                        list: {
                            PAGE_COUNT_HAS_SESSION: 0,
                            BOUNSE_RATE: 0.00,
                            SESSION: 0
                        },
                        panelName: 'GA流量基本状态',
                        type: 'sample_ga',
                        status: 0
                    },
                    {
                        list: {
                            BR_LT_20_PAGE_COUNT: 0,
                            BR_MT_20_PAGE_COUNT: 0,
                            BR_MT_30_PAGE_COUNT: 0,
                            BR_MT_50_PAGE_COUNT: 0,
                            BR_MT_70_PAGE_COUNT: 0
                        },
                        panelName: 'BR的页面分布',
                        type: 'sample_ga_br_page',
                        status: 0
                    },
                    {
                        list: {
                            BR_LT_20_SESSEION_COUNT: 0,
                            BR_MT_20_SESSEION_COUNT: 0.0,
                            BR_MT_30_SESSEION_COUNT: 0,
                            BR_MT_50_SESSEION_COUNT: 0,
                            BR_MT_70_SESSEION_COUNT: 0
                        },
                        panelName: 'BR的流量分布',
                        type: 'sample_ga_br_session',
                        status: 0
                    }
                ],
                requirementData: {
                    list: null,
                    panelName: '内容需求达标率',
                    type: 'sample_requirement',
                    columns: null,
                    status: 0,
                },
                defaultGGData: [
                    {
                        list: {
                            INDEX_PAGE_NUM: 0,
                            AVG_POS: 0.0,
                            IMPRESSION_MT_5_PAGE_NUM: 0,
                            CLICK_MT_5_PAGE_NUM: 0,
                            POS_TOP_3_PAGE_NUM: 0,
                            POS_TOP_5_PAGE_NUM: 0,
                            POS_TOP_10_PAGE_NUM: 0,
                        },
                        panelName: 'Google表现',
                        type: 'sample_gsc',
                        status: 1
                    },
                    {
                        list: {
                            PAGE_COUNT_HAS_SESSION: 0,
                            BOUNSE_RATE: 0.00,
                            SESSION: 0
                        },
                        panelName: 'GA流量基本状态',
                        type: 'sample_ga',
                        status: 1
                    },
                    {
                        list: {
                            BR_LT_20_PAGE_COUNT: 0,
                            BR_MT_20_PAGE_COUNT: 0,
                            BR_MT_30_PAGE_COUNT: 0,
                            BR_MT_50_PAGE_COUNT: 0,
                            BR_MT_70_PAGE_COUNT: 0
                        },
                        panelName: 'BR的页面分布',
                        type: 'sample_ga_br_page',
                        status: 1
                    },
                    {
                        list: {
                            BR_LT_20_SESSEION_COUNT: 0,
                            BR_MT_20_SESSEION_COUNT: 0.0,
                            BR_MT_30_SESSEION_COUNT: 0,
                            BR_MT_50_SESSEION_COUNT: 0,
                            BR_MT_70_SESSEION_COUNT: 0
                        },
                        panelName: 'BR的流量分布',
                        type: 'sample_ga_br_session',
                        status: 1
                    }
                ],
                searchButton: {
                    class: 'btn btn-info',
                    text: 'Update'
                },
                detailButton: '日报',
                interList: null,
                sumList: [0, 0, 0, '']
            },
            methods: {
                getApiRoot: function(){
                    let tmp = window.location.href.split('/')
                    tmp.pop()
                    return tmp.join('/')
                },
                getDefaultData: function(){
                    let that = this
                    that.siteName = $('.globalSiteName').html()
                    that.siteUUID = $('.globalSiteName').attr('data-uuid')
                    that.siteDate = $('.globalSiteDate').html()
                    // 获取默认站点，默认时间，站点列表
                    let ajaxConfig = {
                        url: that.apiRoot + '/getDefaultData',
                        success: function(data){
                            // that.siteUUID = data.defaultSite.SITE_UUID
                            // that.siteName = data.defaultSite.SITE_NAME
                            // that.siteDate = data.defaultDate
                            // that.siteList = data.siteList
                            that.metricList = data.metricList;
                            that.$nextTick(function(){
                                that.getBasicData()
                                that.getCouponContentData()
                                that.getRevenueData()
                                that.getAFFData()
                                that.getGGData()
                                that.getDataV2()
                            })
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getBasicData: function(){
                    let that = this
                    let ajaxConfig = {
                        url: that.apiRoot + '/getBasicData',
                        data: {siteUUID: this.siteUUID, siteDate: this.siteDate},
                        beforeSend: function(){
                            that.basicData.status = 0
                        },
                        success: function(data){
                            that.basicData = data
                            that.basicData.status = 1
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getCouponContentData: function(){
                    let that = this
                    let ajaxConfig = {
                        url: that.apiRoot + '/getCouponContentData',
                        data: {siteUUID: this.siteUUID, siteDate: this.siteDate},
                        beforeSend: function(){
                            that.couponContentData.status = 0
                        },
                        success: function(data){
                            that.couponContentData = data
                            that.couponContentData.status = 1
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getGGData: function(){
                    let that = this
                    let ajaxConfig = {
                        url: that.apiRoot + '/getGGData',
                        data: {siteUUID: this.siteUUID, siteDate: this.siteDate},
                        beforeSend: function(){
                            for(let i=0;i<that.ggData.length;i++)
                            {
                                that.ggData[i].status=0
                            }                       
                        },
                        success: function(data){
                            that.ggData = data.map( (item,index) => {
                                if(item.list.length != 0)
                                    return item
                                else
                                    return that.defaultGGData[index]
                            })
                            for(let i=0;i<that.ggData.length;i++)
                            {
                                that.ggData[i].status=1
                            }
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getRevenueData: function(){
                    let that = this
                    let ajaxConfig = {
                        url: that.apiRoot + '/getRevenueData',
                        data: {siteUUID: this.siteUUID, siteDate: this.siteDate},
                        beforeSend: function(){
                            that.revenueData.status = 0
                        },
                        success: function(data){
                            that.revenueData = data
                            that.revenueData.status = 1
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getAFFData: function(){
                    let that = this
                    let ajaxConfig = {
                        url: that.apiRoot + '/getAFFData',
                        data: {siteUUID: this.siteUUID, siteDate: this.siteDate},
                        beforeSend: function(){
                            that.affData.status = 0
                        },
                        success: function(data){
                            that.affData = data
                            that.affData.status = 1
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getDataV2: function(){
                    let that = this
                    let ajaxConfig = {
                        url: that.apiRoot + '/getDataV2',
                        data: {siteUUID: this.siteUUID, siteDate: this.siteDate},
                        beforeSend: function(){
                            that.requirementData.status = 0
                        },
                        success: function(data){
                            that.requirementData = data
                            that.sumList = [0, 0, 0, '']
                            that.requirementData.list.map(item => {
                                that.sumList[0] += parseInt(item.Total_Page_Count)
                                that.sumList[1] += parseInt(item.NO_Requirement_Page_Count)
                                that.sumList[2] += (item.NO_Requirement_Page_Count / item.Total_Page_Count)
                            })
                            that.requirementData.status = 1
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                doSearch: function(){
                    this.getBasicData()
                    this.getCouponContentData()
                    this.getRevenueData()
                    this.getGGData()
                    this.getAFFData()
                    this.getDataV2()
                },
                changeDay: function(action){
                    let tmpDate = new Date(this.siteDate)
                    if(action == 'pre')
                        tmpDate.setDate(tmpDate.getDate() - 1)
                    else
                        tmpDate.setDate(tmpDate.getDate() + 1)

                    let toYear = tmpDate.getFullYear().toString()
                    let toMonth = (tmpDate.getMonth() < 10 ? '0' : '') + (tmpDate.getMonth() +1)
                    let toDate = (tmpDate.getDate() < 10 ? '0' : '') + (tmpDate.getDate())
                    let date = toYear + '-' + toMonth + '-' + toDate
                    this.siteDate = date
                    $('.globalSiteDate').html(date)
                    this.doSearch()
                },
                view: function(source){
                    let url = this.apiRoot + '/view?site=' + this.siteUUID + '&source='+ source
                    window.open(url)
                },
                pageList: function(metric)
                {
                    let url = this.apiRoot + '/viewPageList?site=' + this.siteUUID + '&metric=' + metric + '&date=' + this.siteDate
                    window.open(url)
                },
                dailyPer: function(metric, chushu){
                    if(chushu == undefined)
                        chushu = this.basicData.list.PAGE_COUNT
                    if(typeof metric !== 'number' && metric%1 !== 0)
                        return '-'
                    if(metric === undefined || metric == '')
                    {
                        return undefined
                    }else{
                        let num = (metric/chushu)*100
                        num =num.toFixed(2) + '%'
                        return num
                    }
                },
                  zn: function(str){
                    if(this.metricList.hasOwnProperty(str))
                    {
                        return this.metricList[str]
                    }else{
                        return str
                    }
                  }
            },
            filters: {
                numToPer: function(floatNum){
                    if(floatNum === undefined)
                    {
                        return undefined
                    }
                    else {
                        let num = (Math.round(floatNum * 10000 )/ 100).toFixed(2) + '%'
                        return num
                    }
                },
                posFilter: function(floatNum){
                    if(floatNum === undefined)
                    {
                        return undefined
                    }
                    else {
                        let num = (Math.round(floatNum * 10 )/ 10).toFixed(1)
                        return num
                    }  
                },
                toThousands: function(num) {
                    if(num === undefined)
                        return undefined
                    num = (num || 0).toString(), result = ''
                    fnum = num.split('.')
                    num =fnum[0]
                    while (num.length > 3) {
                        result = ',' + num.slice(-3) + result
                        num = num.slice(0, num.length - 3)
                    }
                    if (num) { result = num + result}
                    if(typeof fnum[1] != 'undefined')
                    {
                        console.log(fnum[1])
                        result += '.'+fnum[1]
                    }
                    return result
                }
            }
        })
    </script>
</block>