<extend name="Public:app" />
<block name="content">
    <div id="app">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{$panelName}</h3>
            </div>
            <div class="panel-body query-form" style="display: none;">
                <form class="form-inline" method="POST">
                    <input type="hidden" name="siteUUID" value="{$site}">
                    <input type="hidden" name="metric" value="{$metric}">
                    <input type="hidden" name="date" value="{$date}">
                </form>
            </div>
            <div class="layer" v-if="!status">
                    <div class="loading">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                    </div>
            </div>
            <table class="table table-striped table-bordered mytable">
                    <thead>
                        <tr v-if="metric.indexOf('REQUIREMENT_') == -1">
                            <th v-for="colunm in list.columns">{{ zn(colunm) }}</th>
                        </tr>
                        <tr v-else>
                            <th>{{zn('OBJNAME')}}</th>
                            <th>{{zn('CONTENT_PROMO_COUNT')}}</th>
                            <th>{{zn('PROMO_COUNT_ACTIVE')}}</th>
                            <th>{{zn('CONTENT_PROMO_UPDATETIME_OFFSET')}}</th>
                            <th>{{zn('LAST_PROMO_ADD_TIME')}}</th>
                            <th>{{zn('CONTENT_COUPON_COUNT')}}</th>
                            <th>{{zn('COUPON_COUNT_ACTIVE')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="metric.indexOf('REQUIREMENT_') == -1">
                            <tr v-for="data in list.list">
                                <td><a :href="data.OBJNAME" target="_blank">{{ data.OBJNAME }}</a></td>
                                <td>{{ data.PROMO_COUNT_ACTIVE }}</td>
                                <td>{{ data.LAST_PROMO_ADD_TIME }}</td>
                                <td>{{ (data.HAS_COUPON_DAYS_IN_LASTYEAR30DAY > 0) ? 'YES' :'NO'}}</td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr v-for="data in list.list">
                                <td><a :href="data.OBJNAME" target="_blank">{{ data.OBJNAME }}</a></td>
                                <td>{{ data.CONTENT_PROMO_COUNT }}</td>
                                <td>{{ data.PROMO_COUNT_ACTIVE }}</td>
                                <td>{{ data.CONTENT_PROMO_UPDATETIME_OFFSET }}</td>
                                <td>{{ data.LAST_PROMO_ADD_TIME }}</td>
                                <td>{{ (data.CONTENT_COUPON_COUNT > 0) ? 'YES' : 'NO' }}</td>
                                <td>{{ (data.COUPON_COUNT_ACTIVE > 0) ? 'YES' : 'NO' }}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                    <nav aria-label="Page navigation" class="pull-right">
                      <p class="page_total pull-left">共 {{ total }} 条</p>
                      <ul class="pagination pagination-sm pull-left">
                        <li>
                          <a href="javascript:;" aria-label="Previous" @click="current_change(--page)">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li v-for="item in pageList" @click="current_change(item)" :class="{'active': item == page}">
                          <a href="javascript:;">{{ item }}</a>
                        </li>
                        <li>
                          <a href="javascript:;" aria-label="Next" @click="current_change(++page)">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
        </div>
    </div>
</block>
<block name="custome-css">
    <link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
</block>
<block name="custome-js">
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        let defaultAjaxConfig = {
            dataType: 'json',
            type: 'POST',
            error: function(error){
                alert('failed !')
            }
        }
        let app = new Vue({
            el: '#app',
            created: function(){
                let that = this
                this.apiRoot = this.getApiRoot()
                this.getDefaultData()
            },
            mounted: function(){
                let that = this
            },
            data: {
                apiRoot: '',
                siteUUID: '',
                siteDate: '',
                siteList: [],
                startDate: '2017-09-01',
                endDate: '2017-09-08',
                metric: '',
                list: {
                    columns: null,
                    list: null,
                    count: 0
                },
                total: 0,
                size: 200,
                page: 1,

                searchButton: {
                    class: 'btn btn-info',
                    text: 'Search'
                },
                metricList: {
                    
                },
                status: 0
            },
            methods: {
                getApiRoot: function(){
                    let tmp = window.location.href.split('/')
                    tmp.pop()
                    return tmp.join('/')
                },
                getDefaultData: function(){
                    let that = this
                    // 获取默认站点，默认时间，站点列表
                    let ajaxConfig = {
                        url: that.apiRoot + '/getDefaultData',
                        success: function(data){
                            that.siteUUID = data.defaultSite.SITE_UUID
                            that.siteName = data.defaultSite.SITE_NAME
                            that.siteDate = data.defaultDate
                            that.siteList = data.siteList
                            that.metricList = data.metricList
                            that.$nextTick(function(){
                                that.siteUUID = $('input[name=siteUUID]').val()
                                that.metric = $('input[name=metric]').val()
                                that.siteDate = $('input[name=date]').val()
                                that.getList()
                            })
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                getList: function(){
                    let that = this
                    let data = {
                        siteUUID: this.siteUUID,
                        metric: this.metric,
                        date: this.siteDate,
                        start: this.page,
                        limit: this.size
                    }
                    let ajaxConfig = {
                        url: that.apiRoot + '/getPageList',
                        data: data,
                        beforeSend: function(){
                            that.searchButton = {
                                text: 'processing...',
                                class: 'btn btn-success'
                            }
                        },
                        success: function(data){
                            that.list = data
                            that.total = data.count
                            that.searchButton = {
                                text: 'Search',
                                class: 'btn btn-info'
                            }
                            that.status = 1;
                        }
                    }
                    $.extend(ajaxConfig, defaultAjaxConfig)
                    $.ajax(ajaxConfig)
                },
                current_change(page)
                {
                    this.page = page
                    this.status = 0
                    this.getList()
                },
                zn: function(str){
                    if(this.metricList.hasOwnProperty(str))
                    {
                        return this.metricList[str]
                    }else{
                        return str
                    }
                  }
            },
            computed: {
                pageList: function(){
                    let pageList = Math.ceil(this.total / this.size)
                    if(pageList > 20)
                    {
                        let pageArr = []
                        let start = (this.page - 10) > 0 ? (this.page - 10) : 1
                        let end = ((this.page + 10) > pageList ) ? pageList : (this.page + 10)
                        for(let i= start; i< end; i++)
                        {
                            pageArr.push(i)
                        }
                        return pageArr
                    }else{
                        return pageList    
                    }
                    
                }
              },
            filters: {
                numToPer: function(floatNum){
                    if(floatNum == undefined || floatNum == '')
                    {
                        return ''
                    }
                    else {
                        let num = (Math.round(floatNum * 10000 )/ 100).toFixed(2) + '%'
                        return num
                    }
                },
                toThousands: function(num) {
                    if(num === undefined)
                        return undefined
                    num = (num || 0).toString(), result = ''
                    fnum = num.split('.')
                    num =fnum[0]
                    while (num.length > 3) {
                        result = ',' + num.slice(-3) + result
                        num = num.slice(0, num.length - 3)
                    }
                    if (num) { result = num + result}
                    if(typeof fnum[1] != 'undefined')
                    {
                        console.log(fnum[1])
                        result += '.'+fnum[1]
                    }
                    return result
                }
            }
        })
    </script>
</block>